<!-- News Section -->
<div ng-init="getNews()" class="container">

    <!-- Main News -->
    <div class = "row">
        <div ng-repeat= "new in news | filter : text">
                <div ng-if="$index == 0" class = "col-sm-12 col-md-4">
                    <img class="img-responsive center-block col-sm-12" ng-click="showNew(new.id)" src="{{getImage(new.thumbnail_media_type, new.thumbnail_image)}}"/>
                    <p class="my-category">{{new.category}}</p>
                    <h2>{{new.title}}</h2>
                    <h4>{{new.subtitle}}</h4>
                    <p>{{new.abstract}}</p>
                    <button type="button" ng-show="loggedIn" ng-click="" class="btn"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button type="button" ng-show="loggedIn" ng-click="" class="btn"><span class="glyphicon glyphicon-trash"></span></button>
                </div>
                <div ng-if="$index == 1" class = "col-sm-12 col-md-4">
                    <img class="img-responsive center-block col-sm-12" ng-click="showNew(new.id)" src="{{getImage(new.thumbnail_media_type, new.thumbnail_image)}}"/>
                    <p class="my-category">{{new.category}}</p>
                    <h2>{{new.title}}</h2>
                    <h4>{{new.subtitle}}</h4>
                    <p>{{new.abstract}}</p>
                </div>
                <div ng-if="$index == 2" class = "col-sm-12 col-md-4">
                    <img class="img-responsive center-block col-sm-12" ng-click="showNew(new.id)" src="{{getImage(new.thumbnail_media_type, new.thumbnail_image)}}"/>
                    <p class="my-category">{{new.category}}</p>
                    <h2>{{new.title}}</h2>
                    <h4>{{new.subtitle}}</h4>
                    <p>{{new.abstract}}</p>
                </div>
            
        </div>
    </div>
    <hr />

    <!-- Rest of News -->
    <div class = "row">

        <div class="col-sm-12 col-md-8">
            <div ng-repeat= "new in news | filter : text">
                <div ng-if="$index > 2" class = "col-sm-12">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <img class="img-responsive center-block col-sm-12" ng-click="showNew(new.id)" src="{{getImage(new.thumbnail_media_type, new.thumbnail_image)}}"/>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <p class="my-category">{{new.category}}</p>
                            <h2>{{new.title}}</h2>
                            <h4>{{new.subtitle}}</h4>
                            <p>{{new.abstract}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Twitter -->
        <div class="col-md-4 pull-right">
            <div class="row">
                <div class="well col-sm-11 pull-right">
                    <a class="twitter-timeline" data-height="70vh" href="https://twitter.com/EIT_Digital?ref_src=twsrc%5Etfw">Tweets by EIT_Digital</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>
    </div>

</div>