/* app css stylesheet */

/* Title */
.main-title{
    text-align: center;
    font-family: 'Abril Fatface';
}

/* Navbar */
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    
    .navbar .navbar-collapse {
        text-align: center;
    }
}

/* Footer */
.main-footer {
    text-align: center;
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 0px;
}

/* News List */
    /* Category */
    .my-category{
        font-style: bold;
        color: red;
    }


/* News Creation*/
    /* Buttons */
    .my-button{
        margin-bottom: 20px;
    }
/* Alerts */
.my-alert{
    height: 30px;
    padding: 5px;
    padding-left: 12px;
    margin-bottom: 10px;
}