<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>EIT Digital Newspaper</title>

	<!-- Stylesheets -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/app.css">
	<link href="https://fonts.googleapis.com/css?family=Merriweather|Roboto" rel="stylesheet"> 
	<link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css'>

	<!-- Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-route.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-resource.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-sanitize.js"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.1.2/textAngular.min.js'></script>



</head>

<body ng-app="newssapp" ng-controller="mainCtrl">

	<!-- Header -->

	<a href="#"><h1 class="main-title">EIT Digital Newspaper</h1></a>
	<nav class="navbar navbar-default my-navbar">
		<div class="container-fluid">
			<!-- Collapse -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed btn-collapsed-navbar" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<!-- Content -->
			<div class="collapse navbar-collapse" id="navbar">
				
				<!-- Categories -->
				<ul class="nav navbar-nav">
						<li ng-class="{ active: isActive('') }"><a href="#">All News</a></li>
						<li ng-class="{ active: isActive('/news/National') }"><a href="#!/news/National">National</a></li>
						<li ng-class="{ active: isActive('/news/Economy') }"><a href="#!/news/Economy">Economy</a></li>
						<li ng-class="{ active: isActive('/news/Sports') }"><a href="#!/news/Sports">Sports</a></li>
						<li ng-class="{ active: isActive('/news/Technology') }"><a href="#!/news/Technology">Technology</a></li>
				</ul>
				
				<!-- Sign in -->
				<button ng-show="!user.loggedIn" ng-click="showTheLogIn()" type="button" class="btn btn-navbar navbar-btn navbar-right my-navbar-button"><span class="glyphicon glyphicon-log-in"></span></button>
				<button ng-show="user.loggedIn" ng-click="logOut()" type="button" class="btn btn-navbar navbar-btn navbar-right my-navbar-button"><span class="glyphicon glyphicon-log-out"></span></button>
				
				<!-- Add News Button -->
				<button type="button" ng-show="user.loggedIn" ng-click="addNew()" class="btn btn-navbar navbar-btn navbar-right my-navbar-button"><span class="glyphicon glyphicon-plus"></span></button>

				<!-- Search Bar -->
				<button type="button" ng-click="showSearch()" class="btn btn-navbar navbar-btn navbar-left my-navbar-button"><span class="glyphicon glyphicon-search"></span></button>
				<form ng-show="searchBar" class="navbar-form navbar-left">
					<input type="text" ng-model="text" class="form-control search-navbar" placeholder="Search...">
				</form>

			</div>
		</div>
	</nav>

	<!-- Body -->
	<div ng-view class="container">
		
	</div>

	<!-- AngularJS App Code ==================================================== -->
	<script src="news/news-app.js"></script>
	<script src="news/news-services.js"></script>
	<script src="news/news-controllers.js"></script>

	<!-- Footer -->
	<div class="main-footer">
		<div class="row">
			<div class="col-xs-12">
				<p>Programming of User Interfaces</p> 
			</div>
			<div class="col-xs-12">
				<img class="mg-responsive center-block" style="width:74px; height:100px;" src="https://www.eitdigital.eu/fileadmin/files/2015/images_logotypes/EIT_Digital/EIT-Digital_logo_portrait.png">
			</div>
		</div>
		
	</div>

</body>


</html>
